.socialNetworkDiv {
  /* margin: 50vh 15vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Gilroy-Medium', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

li {
  display: flex;
  align-items: center;
  gap: .6rem;
  width: 20vw;
  background-color: white;
  border-radius: 16px;
  padding: .2rem 0 .2rem 7rem;
}

li a {
  color: #707070;
  font-size: 15px;
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 10rem;
}