@import '../../index.scss';

.team-section {
    background-color: $background-1-claro;
    text-align: center;
    padding: 32px;

    h3 {
        font-size: 32px;
        border-bottom: 4px solid $background-1-escuro;
        display: inline-block;
        padding-bottom: 8px;
    }
}