.form-element {
   margin: 25vh 15vw;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   display: flex;
   flex-direction: column;
}

form span{
   font-size: 30px;
   font-weight: 800;
}

.submit-button{
   background-color: #03A9F4;
   border-radius: 16px;
   border: none;
   color: #FFFFFF;
   text-align: center;
   padding: .3rem;
}